/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.text-oswald {
    font-family: 'Oswald', sans-serif;
}

.text-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navbar-main {
    width: 100%;
    height: 60px;
    /* background-color: #333; */
    z-index: 10;
}
/* .navbar-main:hover {
    background-color: #555;
} */

.hero-main {
  position: relative;
  background-image: url('./assets/hero.svg');
  background-size: cover;
  background-position: center;
  height: 904px;
  width: 100%;
  z-index: 0;
}

.hero-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 904px;
  background: rgba(0,0,0,0.8); /* atur tingkat redup */
  pointer-events: none;
  z-index: -1;
}

.marquee-one {
  width: 110%;
  height: 100px;
  background: #FE5208;
  /* background-size: contain;
  animation: marqueeAnimation 10s linear infinite; */
  rotate: 359deg;
}

.marquee-two {
  width: 110%;
  height: 100px;
  background: #000000;
  /* background-size: contain;
  animation: marqueeAnimation 10s linear infinite; */
  rotate: 1deg;
}

.achivement-div {
  position: relative;
  background-image: url('./assets/achivement.svg');
  background-size: cover;
  background-position: center;
  height: 508px;
  width: 100%;
  z-index: 3;
  padding: 3.5rem 4.125rem;
}

.achivement-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 508px;
  background: rgba(0,0,0,0.8); /* atur tingkat redup */
  pointer-events: none;
  z-index: -2;
}

 /* Mengganti ikon saat <details> terbuka */
details[open] summary i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

summary i {
  transition: transform 0.3s ease;
}

/* Hilangkan default arrow bawaan browser */
summary::-webkit-details-marker {
  display: none;
}

/* Background berubah saat accordion terbuka */
details summary {
  background-color: #161616;
  transition: background-color 0.3s ease;
}

details[open] summary {
  background-color: #FE5208;
}

details summary div {
  background-color: #FE5208;
  transition: background-color 0.3s ease;
}

details[open] summary div {
  background-color: #161616;
}

.stb_line_single {
  position: relative;
  white-space: nowrap;
  padding: 0;
  will-change: transform;
}
.stb-item {
  padding: 0;
  font-size: 6.4rem;
  display: inline-block;
  margin-right: 1rem;
}